body {
	background-color: #ebf4f4;
}

.form {
	width: 324px;
	height: 374px;
	background-color: #fbfdfd;
	border: 1px solid #cfdede;
	position:fixed;
	left:35%;
	top:25%;
}

.form-name {
	display: inline-block;
	width: 151px;
	height: 26px;
	background-color: #01b3b3;
	margin-left: 29px;
}

.form-name p {
	color: #e9f6f6;
	font-size: 12px;
	font-family: "Arial" sans-serif;
	padding: 5px;
	font-weight: 600;
}

.form-header {
	margin-top: 28px;
	font-size: 12px;
	font-family: "Arial" sans-serif;
	margin-left: 30px;
	font-weight: 600;
}
.form-header_2, .form-header_3 {
	font-size: 12px;
	font-family: "Arial" sans-serif;
	margin-left: 30px;
	font-weight: 600;
	margin-top: 15px;
}
.form-control {
	margin-left: 29px;
	width: 262px;
	background-color: #ebf4f4;
	font-size: 12px;
	margin-bottom: 5px;
}
.colortext {
	color: #01b3b3;
}
::-webkit-input-placeholder {
   font-style: italic;
}
.form-btn {
	width: 262px;
	height: 45px;
	background-color: #01b3b3;
	font-size: 16px;
	margin: 29px;
	font-weight: 600;
}
